// Colors
$primary: #650360;
$info:    #00A4D9;
$success: #5eadb2;
$warning: #fce473;
$danger:  #ed6c63;

// Border radius
$radius: 0;

@import 'bootstrap';

.navbar,
.btn,
.dropdown-menu {
  border-radius: 0;
}

.div-anchor {
  cursor: pointer;
}
