<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index'}}<a class="navbar-brand" href="">Inquism</a>{{/link-to}}
    </div>

    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-2" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}<a href="">Home <span class="sr-only">(current)</span></a>{{/link-to}}
        <li><a href="#">Link</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              {{session.currentUser.displayName}} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              {{#link-to 'post.question' tagName='li'}}<a href="">Ask Question</a>{{/link-to}}
              <li><a href="">Another action</a></li>
              <li><a href="">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="" {{action 'signOut'}}>Logout</a></li>
            </ul>
          </li>
        {{else}}
          <div class="navbar-form">
            {{#link-to 'auth.signup'}}<a href=""><button class="btn btn-primary">Sign Up</button></a>{{/link-to}}
            {{#link-to 'auth.login'}}<a href=""><button class="btn btn-default">Log In</button></a>{{/link-to}}
          </div>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
